.navbar :where(.css-dev-only-do-not-override-cdzvx5).ant-collapse>.ant-collapse-item >.ant-collapse-header {
    font-size: 36px;
}

.nav :where(.css-dev-only-do-not-override-cdzvx5).ant-collapse>.ant-collapse-item >.ant-collapse-header {
    padding: 0px!important;
    color: white!important;
}


/********************************
 * dropdown
 ********************************/
:where(.css-dev-only-do-not-override-cdzvx5).ant-dropdown, :where(.css-dev-only-do-not-override-cdzvx5).ant-dropdown-menu-submenu {
    position: absolute!important;
    margin-top: 10px!important;
    z-index: 10000!important;
}

/* :where(.css-dev-only-do-not-override-cdzvx5).ant-dropdown .ant-dropdown-menu, :where(.css-dev-only-do-not-override-cdzvx5).ant-dropdown-menu-submenu .ant-dropdown-menu {
    margin-top: 2px!important;
    border-radius: 6px!important;
    min-width: 130px!important;
    background-color: #292444e5!important;
    backdrop-filter: blur(70px)!important;
    color: white!important;
} */
.nav .ant-dropdown-menu {
    margin-top: 2px!important;
    border-radius: 6px!important;
    min-width: 130px!important;
    background-color: #292444e5!important;
    backdrop-filter: blur(70px)!important;
    color: white!important;
}

.nav :where(.css-dev-only-do-not-override-cdzvx5).ant-collapse.ant-collapse-icon-position-end>.ant-collapse-item >.ant-collapse-header .ant-collapse-expand-icon {
    margin-top: 23px!important;
    padding: 0!important;
}

.nav :where(.css-dev-only-do-not-override-cdzvx5).ant-collapse>.ant-collapse-item >.ant-collapse-header .ant-collapse-arrow {
    font-size: 32px!important;
}


:where(.css-dev-only-do-not-override-cdzvx5).ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item, :where(.css-dev-only-do-not-override-cdzvx5).ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-item, :where(.css-dev-only-do-not-override-cdzvx5).ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-submenu-title, :where(.css-dev-only-do-not-override-cdzvx5).ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-submenu-title {
    color: white!important;
    padding: 0!important;
    width: 100%!important;
}

:where(.css-dev-only-do-not-override-cdzvx5).ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item, :where(.css-dev-only-do-not-override-cdzvx5).ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-item, :where(.css-dev-only-do-not-override-cdzvx5).ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-submenu-title, :where(.css-dev-only-do-not-override-cdzvx5).ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-submenu-title:hover {
    color: rgb(176, 176, 247)!important;
}


:where(.css-dev-only-do-not-override-cdzvx5).ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item, :where(.css-dev-only-do-not-override-cdzvx5).ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-item, :where(.css-dev-only-do-not-override-cdzvx5).ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-submenu-title, :where(.css-dev-only-do-not-override-cdzvx5).ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-submenu-title {
    padding: 2px 0px!important;
    width: 100%!important;
}


/********************************
 * services
 ********************************/
 .service :where(.css-dev-only-do-not-override-cdzvx5).ant-collapse>.ant-collapse-item >.ant-collapse-header {
    color : white!important;
    border: none!important;
    font-size: 20px!important;
}

.service :where(.css-dev-only-do-not-override-cdzvx5).ant-collapse {
    border: none!important;
}

.service :where(.css-dev-only-do-not-override-cdzvx5).ant-collapse .ant-collapse-content {
    background-color: transparent!important;
    border-bottom: none!important;
    color: gray!important;
    border-color: #262d32!important;
}

.service :where(.css-dev-only-do-not-override-cdzvx5).ant-collapse>.ant-collapse-item {
    border-bottom: 1px solid #262d32!important;
}

.service :where(.css-dev-only-do-not-override-cdzvx5).ant-collapse>.ant-collapse-item:last-child, :where(.css-dev-only-do-not-override-cdzvx5).ant-collapse>.ant-collapse-item:last-child>.ant-collapse-header {
    border-radius: 0!important;
    border-bottom: none!important;
}

 

.common-header :where(.css-dev-only-do-not-override-cdzvx5).ant-breadcrumb .ant-breadcrumb-separator {
    color: rgb(113, 196, 240)!important;
    font-size: 20px!important;
    margin: auto!important;
    padding: 0px 8px!important;
}