@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #733DF3;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.seaside {
  color: transparent;
   -webkit-text-stroke: 0.8px #ffffff;
  -webkit-text-fill-color: #52505000;  
}

body{
     font-family: "Urbanist", serif;
}



.shadow__btn {
  background: #733DF3;
  /* box-shadow: 0 0 25px #733DF3; */
}

.shadow__btn:hover {
  box-shadow: 0 0 5px var(--primary),
              0 0 25px var(--primary),
              0 0 50px var(--primary),
              0 0 100px var(--primary);
}